.container {
    display: grid;
    grid-template-columns: 0.5fr 1.8fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas: "Sidebar Content Properties";
    height: 200vh;
    background-color: white !important;
}

.Sidebar {
    grid-area: Sidebar;
    align-self: start;
    position: sticky;
    top: 0;
}

.Content {
    grid-area: Content;
    color: black;
}

.Properties {
    grid-area: Properties;
    align-self: start;
    position: sticky;
    top: 0;
}
