.MuiTreeItem-label {
    color: white;
    font-weight: 600 !important;
    font-size: 14px !important;
    margin-top: 0.5em !important;
}
.MuiTreeItem-iconContainer {
    margin-top: 0.5em !important;
}
